@import url('https://fonts.googleapis.com/css?family=Lato|Meera+Inimai|Roboto+Slab&display=swap');

body {
    font-family: "Lato", sans-serif;
}

.hero .title {
    font-size: 3rem;
    font-family: "Roboto Slab", serif;
}
.title:lang(ta) {
    font-family: "Meera Inimai", sans-serif;
}

.hero .subtitle {
    font-size: 1.5rem;
}
